__pycache__/
bin/
build/
Cargo.lock
dist/
Gemfile.lock
node_modules/
npm-debug.log*
package-lock.json
target/
wasm-pack.log

# Java
*.nativelib

# Node.js
index.node

# Python
*.egg-info/

# WASM
/minify-html-wasm/pkg/
