__pycache__/
bin/
build/
Cargo.lock
dist/
Gemfile.lock
node_modules/
npm-debug.log*
out/
package-lock.json
perf.data*
target/
tmp/
wasm-pack.log

# Bench
/bench/results/

# Debug
/debug/diff/outputs/

# Java
*.nativelib

# Node.js
index.node

# Python
*.egg-info/

# WASM
/minify-html-wasm/pkg/
