/Cargo.lock
/Cargo.toml
/src/lib.rs
/target/

__pycache__/
/venv/

# Ignore locally built native modules.
/hyperbuild/**/*.so
/hyperbuild/**/*.pyd

# Used by Python setuptools.
/build/
/dist/
/*.egg-info/
